.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
}

.breed-select {
  display: none;
  max-width: 400px;
  margin: auto;
}

.select-container {
  margin-top: 20px;
}

.cat-info {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #e5f3f2;
  border: 1px solid #0d161b;
}

.box-img {
  display: flex;
  align-items: center;
}

.box {
  width: 400px;
}

loader {
  position: relative;
  width: 40px;
  height: 60px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: '';
  background: #ff3d00;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
  transform: rotate(-45deg);
}
@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
